<header>
    <div class="header-content">
        <div class="header-left">
            <div class="logo">ExplainME</div>
        </div>
        <div class="header-right">
            <nav>
                <ul class="menu">
                    <li>
                        <a href="#" class="menu-link">
                            Играй
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-link">
                            Добави думи
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-link">
                            Класация
                        </a>
                    </li>
                    <li>
                        <a href="rules.php" class="menu-link">
                            Правила
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>