<div id="l-game">
  <div id="l-settings">
    <input type="number" id="l-players" name="players" min="4" step="2" max="22" />

    <div id="l-player-names"></div>

    <div><input id="l-start" type="button" value="Палим" /></div>

  </div>

  <div id="l-round">
    <div id="l-word"></div>
    <div class="delim"></div>
    <div id="l-timer"></div>
  </div>

  <div id="l-txt">
    <input type="button" id="runRound" value="Старт!" />
  </div>

  <div id="l-info"></div>

</div>

<div id="l-points"></div>